@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap');

:root{
    --main-color: #dead5f;
    --primary-color: #312e2e;
}

/* Utilities */

button{
    background-color: var(--main-color);
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    /* font-weight: bold; */
}
/* Resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #100e0f;
}

/* Navigation  */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding-top: 15px;
    font-family: sans-serif;
    /* border: 3px solid white; */
}
li{
    display: inline;
    list-style: none;
    /* border: 1px solid white; */
}
li a {
    text-decoration: none;
    /* padding: 0 10px; */
    color: white;
    margin-left: 40px;
    padding-bottom: 5px;
}
li a:hover{
    border-bottom: 2px solid var(--main-color);
}

/* Nav end  */

/* Header start  */

.header{
    background-image: url(Images/pexels-nao-triponez-129207.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    font-family: "Playfair Display", serif;
    font-weight: normal;
    /* Flexbox design  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    position: relative;
    
}
.main-headings{
    position: absolute;
    top: 7rem;
    font-size: 4rem;
    word-spacing: 10px;
    /* border: 3px solid white; */
}

.primary-headings{
    position: absolute;
    bottom: 4rem;
    word-spacing: 10px;
}
.main-btn{
    position: absolute;
    bottom: 2rem;
    padding: 10px 30px;
    /* margin-top: 40px; */
    background: transparent;
    background: var(--main-color);
    margin-bottom: -20px;
}

/* Stat second section  */

#our-story{
    /* height: 100vh; */
    margin-top: 10%;
    /* margin-bottom: 10%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
     /* border: 2px solid green; */
}

/* Second ----left */
.img-ourStory-container{
    /* border: 2px solid red; */
}
.img{
  width: 400px;
  height: 400px;
  background-image: url(Images/pexels-chitokan-2183027-removebg-preview.png);
  background-position: center;
  background-size: cover;
}

/* Second ----right */
.section-content{
   /* border: 2px solid red; */
}
.title-style{
    display: flex;
    align-items: center;
}
.title{
    font-family: "PlayFair Display", serif;
    font-size: 4rem;
    color: white;
    transform: translateX(-100px);
}
.line{
    width: 100px;
    height: 5px;
    background: white;
    transform: translateX(-120px);
}
.section-content p{
    max-width: 500px;
    color: white;
    font-family: sans-serif;
    line-height: 20px;
    margin: 20px 0;
}

/* End section end  */

/* Coffee - Container start here  */

.coffee-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 7rem;
    margin-bottom: 2rem;
}
.content-section p{
    max-width: 500px;
    color: white;
    margin: 10px 0;
    font-family: sans-serif;
}
.img-2{
    width: 400px;
    height: 400px;
}
.title-two{
    font-size: 3rem;
    color: white;
    font-family: "PlayFair Display", serif;
}

/* Coffe container end here */

/* Prpducts start here  */
.products{
    margin-top: 7rem;
}
.title-three{
    font-size: 4rem;
    margin-left: 10rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.card{
    border: 2px solid var(--main-color);
    padding: 0 20px;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    position: relative;
    margin-bottom: 4rem;
}
.card-img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -60px;
    /* border: 2px solid var(--main-color); */
}
.img-one{
    background: url(Images/1.png);
    background-position: center;
    background-size: cover;
}
.img-two{
    background: url(Images/2.png);
    background-position: center;
    background-size: cover;
    left: 110px;
}
.img-three{
    background: url(Images/3.png);
    background-position: center;
    background-size: cover;
}
.card-title{
    color: #fff;
    font-family: sans-serif;
    margin-top: 50px;
}
.card .items p{
    color: white;
    margin: 20px 0;
    font-family: sans-serif;
}

/* Products end here */

/* Footer star */
footer{
    height: 50vh;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: sans-serif;
}
footer .container{
    max-width: 300px;
    margin: 20px;
    text-align: center;
}
footer .heading-info{
    margin-bottom: 20px;
}
footer p {
    line-height: 25px;
}
span{
    color: var(--main-color);
}


.para{
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
}
/* Footer end  */

/* Responsive*/
@media only screen and (max-width:768px){ 
    .main-headings, 
    .primary-headings{
   font-size: 2.5rem;
}
#our-story{
    text-align: center;

}
#our-story .title{
    transform: translateX(50px);
}
#our-story .line{
    display: none;
}
.content-section{
    text-align: center;
}
#our-story .img-ourStory-container.img{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}
.coffee-container .img-2{
    margin-top: 5rem;
    /* width: 70%; */
}
.title-two{
    /* border: 2px solid red; */
    margin: 0 auto;
}
#our-story .section-content p{
    margin: 20px;
    padding: 0 10px;  
}
#our-story .section-content .title-style .title{
    margin: 0 20px 0 60px;
}

}