*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #1b1b1b;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 50px;
    width: 50px;
    background-color: #ffa31a;
    margin: 10px;
    border-radius: 50%;
}